.product-detail-container {
    background-color: #263238;
    height: 500px;
}

.product-container {
    background-color: white;
    border-radius: 5px;
    margin: 50px 20px 0 20px;
    padding: 20px 0 20px 0;
}

.product-title {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
}

.product-img {
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}

.shop-button {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    border: 0px;
    border-radius: 3px;
    color: white;
    background-color: black;
}

@media (min-width: 425px){
    .product-img {
        width: 300px;
    }

    .product-title {
        font-size: 22px;
    }

    .product-price {
        font-size: 22px;
    }
}

@media (min-width: 768px){
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 700px;
        margin: auto;
        margin-top: 40px;
    }

    .img-container {
        margin-left: 40px;
    }

    .product-title {
        font-size: 24px;
    }

    .product-img {
        width: 350px;
    }

    .product-price {
        font-size: 24px;
    }
}

@media (min-width: 1024px){
    .product-container {
        width: 750px;
    }

    .product-title {
        font-size: 26px;
    }

    .product-img {
        width: 400px;
    }

    .product-price {
        font-size: 26px;
    }
}

@media (min-width: 1440px){
    .product-container {
        width: 800px;
    }

    .product-img {
        width: 450px;
    }
}