.product-detail-container {
    display: flex;
    background-color: #37474f;
    height: 550px;
    justify-content: center;
    align-items: center;
}

.product-container {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px 0 20px;
    height: 450px;
}

.product-title {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.product-price {
    font-size: 19px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
}

.shop-button {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    border: 0px;
    border-radius: 3px;
    color: white;
    background-color: black;
}

@media (min-width: 425px){
    .product-detail-container {
        height: 630px;
    }

    .product-container {
        height: 500px;
    }

    .product-img {
        width: 300px;
    }

    .product-title {
        font-size: 22px;
    }

    .product-price {
        font-size: 22px;
    }
}

@media (min-width: 768px){
    .product-detail-container {
        height: 500px;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 700px;
        margin: auto;
        height: 310px;
    }

    .secondary-container {
        text-align: left;
    }

    .product-title {
        font-size: 24px;
        margin-top: 30px;
    }

    .product-img {
        width: 350px;
    }

    .product-price {
        font-size: 24px;
    }

    .product-price, .product-title, .product-size {
        margin-left: 20px;
    }
}

@media (min-width: 1024px){
    .product-container {
        width: 750px;
        height: 350px;
    }

    .product-title {
        font-size: 26px;
    }

    .product-img {
        width: 400px;
    }

    .product-price {
        font-size: 26px;
    }
}

@media (min-width: 1440px){
    .product-detail-container {
        height: 550px;
    }

    .product-container {
        width: 800px;
        height: 380px;
    }

    .product-img {
        width: 450px;
    }
}