.cart-container {
    background-color: #263238;
    min-height: 450px;
}

.cart-title {
    width: 67px;
    padding-top: 20px;
    margin: 0 auto;
    color: white;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 1));
    border-bottom: 2px solid #D32B29;
    font-weight: 400;
}

.cart-empty {
    padding-top: 150px;
    font-size: 20px;
    color: white;
}

.cart-button, .buy-button {
    background-color: #263238;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 2px 20px 2px 20px;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: .4s;
    margin-left: 10px;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #43a047;
    border: 2px solid #43a047;
    transition: .4s;
}

.cart-button:hover {
    background-color: #D32B29;
    border: 2px solid #D32B29;
    transition: .4s;
}

.cart-total {
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

@media (min-width: 768px){
    .cart-container {
        min-height: 500px;
    }

    .cart-finish {
        text-align: right;
        margin-right: 70px;
    }
}

@media (min-width: 1024px){
    .cart-finish {
        margin-right: 100px;
    }
}

@media (min-width: 1440px){
    .cart-container {
        min-height: 600px;
    }

    .cart-finish {
        margin-right: 280px;
    }
}