.menu {
  display: flex;
  background-color: black;
  height: 70px;
  width: 100%;
}

.menu-logo-container {
  display: flex;
  align-items: center;
}

.menu-logo {
  width: 150px;
}

.leftSide {
  flex: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-item {
  font-size: 17px;
  padding: 0 5px 0 5px;
  margin-right: 5px;
  color: white;
}

.rigthSide {
  flex: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-btn {
  display: none;
  margin-right: 15px;
  width: 30px;
  cursor: pointer;
}

#hidden {
  display: flex;
}

@media (max-width: 790px){
    .menu-item {
      font-size: 16px;
    }
}

@media (max-width: 730px){
  .menu-btn {
    display: flex;
  }

  .menu-items {
    display: none;
  }

  .menu-item {
    font-size: 19px;
    margin-top: 20px;
  }

  #hidden {
    position: absolute;
    left: 0px;
    top: 70px;
    height: 220px;
    width: 100%;
    background-color: #080808;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 730px){
  .menu-item {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-item:hover {
    border-bottom: 3px solid #D32B29;
    padding-top: 3px;
  }
}