.cartItem-container {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    width: 250px;
}

.cartItem-img {
    width: 150px;
    border-radius: 3px;
}

.cartItem-title {
    margin-right: 10px;
    margin-left: 10px;
}

.cartItem-delete {
    background-color: white;
    color: white;
    border: none;
    background-color: #263238;
    border-radius: 26px;
    cursor: pointer;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 10px;
    transition: .4s;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.cartItem-delete:hover {
    background-color: #D32B29;
    transition: .4s;
}

@media (min-width: 768px){
    .cartItem-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
        margin: 20px 40px 20px 40px;
    }

    .cartItem-img-container {
        display: flex;
        justify-content: flex-start;
        height: 100px;
        border-right: 2px solid lightgray;
    }

    .cartItem-img {
        margin-left: 40px;
    }

    .cartItem-title {
        text-align: right;
        margin: 0 30px 0 0;
    }

    .cartItem-data-container {
        text-align: right;
    }

    .cartItem-data {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        margin-right: 20px;
    }

    .data {
        margin-right: 10px;
    }

    .cartItem-delete {
        margin-right: 30px;
    }
}

@media (min-width: 1024px){
    .cartItem-container {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media (min-width: 1440px){
    .cartItem-container {
        margin-left: 250px;
        margin-right: 250px;
    }
}