.cartItem-container {
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 0;
    border-radius: 5px;
}

.cartItem-img {
    max-width: 100px;
}

.cartItem-title {
    margin-right: 10px;
    margin-left: 10px;
}

.cartItem-delete {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .cartItem-container {
        display: inline-flex;
        width: 715px;
        height: 200px;
    }

    .cartItem-title {
        text-align: right;
    }

    .cartItem-data {
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 90px;
    }

    .data {
        margin-right: 10px;
    }

    .cartItem-delete {
        margin-left: 500px;
    }
}