footer {
    background-color: black;
}

.footer-container {
    display: inline-flex;
}

.title-link {
    color: white;
    border-bottom: 2px solid #D32B29;
    width: 93px;
    margin: 0 auto;
}

.item-link {
    color: white;
    text-align: left;
    transition: .3s;
    margin: 0 auto;
    width: 45px;
}

.item-link:hover {
    color: #D32B29;
    transition: .3s;
}

.icons-container {
    margin-top: 60px;
}

.icon {
    margin-left: 15px;
    width: 32px;
    cursor: pointer;
}

.footer-border {
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
}

@media (min-width: 768px){
    footer {
        height: 150px;
    }

    .footer-container {
        justify-content: space-around;
    }

    .footer-border {
        border-right: 2px solid white;
    }

    .title-link {
        margin-right: 15px;
        width: auto;
    }

    .item-link {
        width: auto;
    }

    .links-container {
        display: inline-flex;
        margin-top: 20px;
    }

    .home {
        margin-right: 10px;
    }
}