.buttons-container {
    width: 120px;
    margin: 0 auto;
}

.decrease, .increase {
    width: 30px;
    border: 0px;
    border-radius: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.counter {
    margin: 0 15px 0 15px;
}

.add-to-cart {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    border: 0px;
    border-radius: 3px;
    color: white;
    background-color: black;
    cursor: pointer;
}