.count-container {
    background-color: #e0e0e0;
    text-align: center;
    width: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.buttons-container {
    width: 120px;
    margin: 0 auto;
}

.decrease, .increase {
    width: 30px;
    border: 0px;
    border-radius: 3px;
    color: white;
    background-color: #263238;
    cursor: pointer;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.counter {
    margin: 0 15px 0 15px;
}

.add-to-cart {
    margin-top: 10px;
    height: 35px;
    width: 150px;
    border: 0px;
    border-radius: 3px;
    color: white;
    background-color: #263238;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    font-size: 16px;
    font-weight: 400;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.add-to-cart:hover {
    background-color: #43a047;
    transition: .4s;
}

.product-size {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    margin-bottom: 10px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

@media(min-width: 768px){
    .count-container {
        margin-left: 20px;
    }
}

@media(min-width: 1024px){

}

@media(min-width: 1440px){

}