.item-list {
    background-color: #37474f;
}

.container {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
